@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100..900&display=swap');

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
}

.fonta {
  font-family: "Poppins", sans-serif;
  font-size: 78px;
  font-style: normal;
  font-weight: 800; /* bold enough */
  line-height: 1.1;
  letter-spacing: -0.02em;
}
